<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Exponential-e Tech Challenge</title>

    <link href="public/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="public/css/dashboard.css" rel="stylesheet">

</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="public/img/expo-e-logo-white.png" class="img-responsive"
                                                  alt="Exponential-e"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Help</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
    </div>
</nav>

<div class="container-fluid" ng-app="expo" ng-controller="myCtrl">
    <div class="row">
        <div class="col-sm-12 col-md-12 main">
            <h1 class="page-header">Product pricing</h1>

            <form>
                <div class="row dropdown dropdown-content">
                    <div class="form-group col-md-4">
                        <label for="selSupplier">Supplier</label>
                        <select autofocus class="form-control" id="selSupplier" ng-model="supplier">
                            <option value="New Co Ltd">New Co Ltd</option>
                            <option value="Old Co Ltd">Old Co Ltd</option>
                            <option value="All">All</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="selProduct">Product</label>
                        <select class="form-control" id="selProduct" ng-model="product">
                            <option value="Small wongle">Small wongle</option>
                            <option value="Large wongle">Large wongle</option>
                            <option value="Super wongle">Super wongle</option>
                            <option value="All">All</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <br>
                        <button class="button btn btn-primary" ng-click="displayItem(supplier,product)">Search</button>
                    </div>
                </div>
            </form>
            <div ng-if="error">
                <div class="alert alert-danger">
                    <strong>Danger!</strong> {{ error }}.
                </div>
            </div>
            <h2 class="sub-header">Product details</h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Supplier</th>
                        <th>Product</th>
                        <th>Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="result in results">
                        <td>#</td>
                        <td>{{result.supplier}}</td>
                        <td>{{result.product}}</td>
                        <td>{{result.price}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="public/vendor/jquery/dist/jquery.min.js"></script>
<script src="public/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
<script>
    var app = angular.module("expo", []).controller("myCtrl", function ($scope) {
        $scope.displayItem = function (supplier, product) {
            if (supplier === 'All' && product === 'All') {
                return $scope.results = [
                    {supplier: 'New Co Ltd', product: 'Small wongle', price: '5'},
                    {supplier: 'New Co Ltd', product: 'Large wongle', price: '8'},
                    {supplier: 'New Co Ltd', product: 'Super wongle', price: '12'},
                    {supplier: 'Old Co Ltd', product: 'Small wongle', price: '5'},
                    {supplier: 'Old Co Ltd', product: 'Large wongle', price: '8'},
                    {supplier: 'Old Co Ltd', product: 'Super wongle', price: '12'}
                ];
            }
            else if (supplier && product) {
                if (supplier === 'All' || product === 'All') {
                    return $scope.error = "Please select supplier/product valid combination from down menu.";
                } else {
                    $scope.error = null;
                    var rprice = null;
                    if (supplier === "New Co Ltd") {
                        switch (product) {
                            case "Small wongle":
                                rprice = 5;
                                break;
                            case "Large wongle":
                                rprice = 8;
                                break;
                            case "Super wongle":
                                rprice = 12;
                                break;
                        }
                    }
                    if (supplier === "Old Co Ltd") {
                        switch (product) {
                            case "Small wongle":
                                rprice = 6;
                                break;
                            case "Large wongle":
                                rprice = 9;
                                break;
                            case "Super wongle":
                                rprice = 4;
                                break;
                        }
                    }
                    return $scope.results = [
                        {supplier: supplier, product: product, price: rprice}
                    ]
                }
            } else {
                return $scope.error = "Please select supplier/product name from drop down menu.";
            }
            $scope.result = result;
        }
    });
</script>
</body>
</html>
