.row
    form.navbar-form(ng-controller="searchCtrl")
        .form-group.col-md-4
            label(for='selSupplier') Supplier
            select#selSupplier.form-control(ng-model="supplierName")
                option New Co Ltd
                option Old Co Ltd
        .form-group.col-md-4
            label(for='selProduct') Product
            select#selProduct.form-control(ng-model="productName")
                option Small wongle
                option Large wongle
                option Super wongle
        .form-group.col-md-2
            button.btn.btn-primary(ng-click="search(supplierName,productName)") Search
h2.sub-header Product details